@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --green-clr: #DFFE02;
  --gray-clr: #898989;
  --dark-blue-clr: #171c22;
}

.bg-dark-blue {
  background: var(--dark-blue-clr);
}

.txt-gray {
  color: var(--gray-clr);
}

.bg-green {
  background: var(--green-clr);
}

.txt-green {
  color: var(--green-clr);
}

.mybtn {
  border: .1rem solid var(--green-clr) !important;
  padding: .5rem 1.6rem;
}

.mybtn:hover {
  background-color: transparent;
  color: var(--green-clr) !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%283255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  width: 2.2rem;
}

.image-container {
  background-color: gold;
  width: 32rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border-top: 1rem solid white;
  border-bottom: 1rem solid white;
  background-image: url('/images/profile.jpg');
  background-position: center;
  background-size: 90%;
  box-shadow: 0 0 1rem white,
              inset 0 0 1rem white,
              0 0 2rem var(--green-clr),
              inset 0 0 2rem var(--green-clr),
              0 0 7rem var(--green-clr),
              inset 0 0 15rem var(--green-clr);
}

.hero-section {
  min-height: 85vh;
}

h1 {
  font-size: 4.2rem;
}

p {
  font-size: .95rem;
}

.para {
  max-width: 500px;
}

.my-card{
width: 21rem;
}
form{
  width: 33rem;
}
.form-control{
  border: .1rem solid var(--gray-clr);
}

.form-control:focus{
box-shadow: none;
  border: .1rem solid var(--gray-clr);
}
.line{
  background: hsla(0, 18%, 90%, 0.65);
  height: .1rem;
  width: 100%;
}









/*---------------- Responsive ----------------*/
@media screen and (max-width: 680px) {
  h1 {
    font-size: 2.8rem;
  }

  .image-container {
    width: 20rem;
    margin: 2rem auto 0; /* top gap and centered */
    display: block;
  }

  .hero-section {
    min-height: 72vh;
    text-align: center; /* optional: center text on small screens */
  }
  form{
    width: 25rem;

  }
  
}
